<h1>Editar uma receita</h1>
<section>
  <div class="row">
    <div class="col-md-8 col-sm-8">
      <!-- General information content -->
      <div class="general-content">
        <%= render partial: 'form', locals: { submit_text: 'Atualizar Receita' }  %>
      </div>
    </div>
    <div class="col-md-4 col-sm-4">
      <div class="general-img">
        <%= image_tag 'dish/dish5.jpg', class: 'img-responsive img-thumbnail' %>
        <span class="hot-tag br-green">Novo</span>
      </div>
      <div class="general-img">
        <%= image_tag 'dish/dish6.jpg', class: 'img-responsive img-thumbnail' %>
        <span class="hot-tag br-red">Top</span>
      </div>
    </div>
  </div>
</section>
