<section>
  <div class="single-item">
    <div class="container">
      <div class="single-item-content">
        <div class="row">
          <h3>Receita filtrada por cozinha: <%= @cuisine.name %></h3>
          <%= render @recipes %>
        </div>
        <div class="row">
          <%= link_to 'Voltar', root_path, class: "btn btn-default" %>
        </div>
      </div>
    </div>
  </div>
</section>
